body {
    font-family: 'Tahoma', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
    background-color: #FFF;
    color: #000;
    margin: 0; padding: 0;
}

a {
    color: #14A;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a.selected {
    font-style: italic;
    color: #47D;
}

div.sidebar {
    position: absolute;
    margin: 0; padding: 0.5em;
    width: 15em;
    border-right: dotted #47D 1px;
}

div.sidebar li {
    color: #68D;
}

div.body {
    margin: 0; padding: 0.5em;
    margin-left: 16.0em;
}

div.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
}

div.sidebar ul {
    padding-left: 1em;
    margin: 0px;
}

li {
    list-style-type: square;
}

li span {
    color: #000;
}

ul.errorlist li {
    color: #F00;
}

p {
    margin: 0em;
    margin-bottom: 0.5em;
}

div.corpus-info, div.search-engine-info {
    margin-bottom: 2em;
}

div.corpus-info-suffix {
    margin-top: 2em;
}

div.query-results {
    margin-top: 1em;
}

p.prev_page {
    float: left;
}

p.next_page {
    float: right;
}

div.settings-form div {
    margin-top: 0em;
}

div.settings-form div.float {
    margin: 0.5em;
    margin-left: 1em;
    float: left;
}

div.settings-form div.float ul {
    padding: 0em;
    margin: 0em;
}

div.settings-form div.float li {
    list-style-type: none;
}

div.settings-form input.submit {
    margin-top: 0.5em;
}

div.error {
    color: red;
}

td, th {
    border: solid 1px transparent;
    margin: 0px;
}

tr.even {
    background-color: #DDD;
}

tr.selected td, tr.selected th {
    border: dotted 1px #444;
}

td.right {
    text-align: left;
}

td.left {
    text-align: right;
}

h1 {
    font-size: 1.2em;
    margin-top: 1.2em;
}

input#id_query {
    width: 30em;
}

.small-print {
    font-size: small;
}

.bookmark-result {
    display: none;
}

#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #666;
    background-color: #FFF;
    padding: 0;
}

#tooltip div, #tooltip h3, #tooltip dl {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

/* vim:set ts=4 sw=4 et:*/
