{% load i18n %}
{% blocktrans %}<p>
The search engine provides access to two versions of the IMPACT Polish GT corpus:
so called one-dimensional and two-dimensional. This version is two-dimensional,
i.e. the hyphenation has been preserved in its original form.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The corpus uses data made available by
<a href='http://dl.psnc.pl/lang-pref/en/'>PSNC Digital Libraries Team</a>, namely
<a href='http://dl.psnc.pl/activities/projekty/impact/results/lang-pref/en/'>
a set of full text versions</a>
of selected Polish historical documents from four digital libraries in Poland.
The texts has been prepared in the framework of the <a href='http://www.impact-project.eu'>IMPACT</a> project
and used as so called Ground-Truth for evaluation and training of OCR programs.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The corpus has been creating by
<a href='http://www.mimuw.edu.pl/~kszafran/'>Krzysztof Szafran</a>
using various free tools.
</p>
{% endblocktrans %}


{% blocktrans %}<p>
Some additional informations about the corpus are available in Janusz S. Bień's notes
<a href='http://bc.klf.uw.edu.pl/288/'>Changes to the IMPACT project Polish Ground-Truth texts</a>
and
<a href='http://bc.klf.uw.edu.pl/289/'>Delivering the IMPACT project Polish Ground-Truth texts with Poliqarp for DjVu</a>.
</p>
{% endblocktrans %}


{% blocktrans %}<p>
The corpus consists of ca. 1.6 million segments. This version of the
corpus is available since April 20, 2012.
</p>
{% endblocktrans %}
