{% load i18n %}

{% blocktrans %}<p>
The search engine uses the electronic versions of the 32 volumes
(containing entries from <a href='http://kpbc.umk.pl/publication/17781'>A to Przodujący</a>) of
<a href='http://www.ibl.waw.pl/index.php?strona=206'>the dictionary of the 16th century Polish</a>,
available since 2008 in the DjVu format in the
<a href='http://kpbc.umk.pl/'>Kujawsko-Pomorska Digital Library</a>
under the terms of the
<a href='http://creativecommons.org/licenses/by-nc-nd/2.5/pl/deed.en'>Creative Commons license version Attribution-Noncommercial-No Derivative Works 2.5 Poland</a>.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
OCR for the scans has been done by the library staff,
with LizardTech DocumentExpress Professional 5.0.
</p>
{% endblocktrans %}

{% blocktrans %}<p class='small-print'>
Unfortunately using the digitally-born versions of some volumes is not
possible for formal reasons described in
<a href='http://bc.klf.uw.edu.pl/71/'>Janusz S. Bień's paper</a>.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The OCR results has been converted to the corpus format by
<a href='http://jwilk.net/'>Jakub Wilk</a>.
The corpus consists of ca. 12 million segments.
</p>
{% endblocktrans %}

