{% load i18n %}

{% blocktrans %}<p>
The search engine uses the electronic versions of the 33 volumes
(containing entries from <a href='http://kpbc.umk.pl/publication/17781'><em>A</em> to <em>Przypytywać się</em></a>) of
<a href='http://www.ibl.waw.pl/index.php?strona=206'>the dictionary of the 16th century Polish</a>,
made succesively available since 2008 in the DjVu format in the
<a href='http://kpbc.umk.pl/'>Kujawsko-Pomorska Digital Library</a>
under the terms of the
<a href='http://creativecommons.org/licenses/by-nc-nd/2.5/pl/deed.en'>Creative Commons license version Attribution-Noncommercial-No Derivative Works 2.5 Poland</a>.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
Scanning the first 32 volumes, and later OCR with LizardTech
DocumentExpress Professional 5.0, has been done by the library staff.
</p>
<p>
<a href='http://kpbc.umk.pl/publication/33857'>Volume XXXIII</a> is digitally born,
it has been converted to DjVu format by Jakub Wilk using the
<a href='http://pdf2djvu.googlecode.com/'>pdf2djvu</a> and
<a href='http://minidjvu.sourceforge.net/'>minidjvu</a> programs.
</p>
<p>
On July 14, 2010 the digitally born versions of volumes
<a href='http://kpbc.umk.pl/publication/34033'>XXXI</a> and
<a href='http://kpbc.umk.pl/publication/34034'>XXXII</a>
have replaced the scans;
they have been converted to DjVu format by Jakub Wilk using the
<a href='http://pdf2djvu.googlecode.com/'>pdf2djvu</a> and
<a href='http://minidjvu.sourceforge.net/'>minidjvu</a> programs.
</p>
{% endblocktrans %}

{% blocktrans %}<p class='small-print'>
Unfortunately using the digitally-born versions of some other volumes is not
possible for formal reasons described in
<a href='http://bc.klf.uw.edu.pl/71/'>Janusz S. Bień's paper</a>.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The OCR results for the scanned volumes and the hidden text layer of volumes
XXXI-XXXIII have been converted to the suitable corpus format by Jakub Wilk.
The corpus consists of ca. 31 million segments.
This is the version 4 of the corpus, available since July 14, 2010.
</p>
{% endblocktrans %}

