{% load i18n %}

{% blocktrans %}<p>
The search engine uses the electronic versions of the 15 volumes of
<a href='http://www.mimuw.edu.pl/polszczyzna/SGKPi/'>The Geographical Dictionary of the Polish Kingdom and other Slavic Countries</a>
(comprising together about 15 thousand pages including 14758 pages with entries)
published on
<a href='http://www.mimuw.edu.pl/polszczyzna/'>the Computer and Polish Language site</a>
hosted on a server courtesy of
<a href='http://www.mimuw.edu.pl/?LANG=en'>the Faculty of Mathematics, Informatics and Mechanics</a>
of
<a href='http://www.uw.edu.pl/en/'>the University of Warsaw</a>.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
It is the very first version on the dictionary available on Internet, prepared in 2005 by
<a href='http://fleksem.klf.uw.edu.pl/~jsbien/'>Janusz S. Bień</a>
upon the initiative of Ewa Stachowska-Musiał, at that time the head of the Preservation and Conservation Department of
<a href='http://www.buw.uw.edu.pl/en/'>the University Library in Warsaw</a>.
A year later
<a href='http://mbc.malopolska.pl'>Małopolska Digital Library</a>
published
<a href='http://mbc.malopolska.pl/publication/113'>the version</a>
based on scans made in 2003 by ZETO enterprise in Tarnów and till that moment available only on CD.
Two year later (on 7th May 2007) a new Internet edition with
<a href='http://dir.icm.edu.pl/pl/Slownik_geograficzny/'>a search engine</a>
was published by
<a href='http://www.icm.edu.pl/web/guest/home'>Interdisciplinary Centre for Mathematical and Computational Modelling</a>
of
<a href='http://www.uw.edu.pl/en/'>the University of Warsaw</a>
considering it as the inauguration of the Domain of Internet Knowledge Repositories (now
<a href='http://otwartanauka.pl/'>Open Science</a>).
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The scans of the dictionary has been prepared in 2003 by the
University Library in Warsaw upon the initiative of the Interdisciplinary
Centre for Mathematical and Computational Modelling of the University
of Warsaw, which partially funded the task. OCR has been done in 2010
by Janusz S. Bień with FineReader 10, setting the language to Polish
and leaving other parametrs at their default values, saving the results in PDF format and subsequently
converting them with
<a href='http://pdf2djvu.googlecode.com'>pdf2djvu</a>
to DjVu format and finally into Poliqarp corpus format.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The corpus consists of ca. 19 million segments.
This is the version 1 of the corpus, available since November 12, 2010.
</p>
{% endblocktrans %}

