{% load i18n %}

{% blocktrans %}<p>
<a href='http://poliqarp.wbl.klf.uw.edu.pl/extra/linde/index.djvu'>A
preliminary electronic version</a> of the second edition of Linde's dictionary
</p>
{% endblocktrans %}

{% blocktrans %}<p>
Scans were made with Fujitsu fi-6130 scanner and Kofax VRS software by Joanna
A. Bilińska. OCR was prepared with FineReader 10 (selected language Polish,
default values of other recognition parameters) and saved as PDF/A files with
MRC lossy compression. The scans has been converted to DjVu format by Jakub
Wilk, he also converted the OCR results to the suitable corpus format.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The corpus consists of ca. 7 million segments. This version of the
corpus is available since August 6, 2010.
</p>
{% endblocktrans %}
