{% load i18n %}

{% blocktrans %}<p>
It is recommended to switch on graphical concordances option in
<a href='/settings/'>Settings</a>.
{% endblocktrans %}

{% blocktrans %}<p>
Search can be limited to a specific volume with the <code>within</code> clause,
e.g. <code>within vol6</code> or <code>within vol6part2</code>. The clause can
be also used to limit the search to the following sections:
<code>body</code> (entries and their corrections),
<code>errata</code> (just the corrections),
<code>intro</code> (introductory texts),
<code>info</code> (other informations),
<code>varia</code> (dedications, subscriber lists),
<code>front</code> (frontmatter),
<code>back</code> (backmatter).
</p>
{% endblocktrans %}

{% blocktrans %}<p>
Please send questions and comments to
<a href='mailto:jsbien@mimuw.edu.pl'>jsbien@mimuw.edu.pl</a>.
</p>
{% endblocktrans %}
