{% load i18n %}

{% blocktrans %}<p>
Search can be limited to a specific volume with the meta clause, e.g. <code>meta vol=i/X</code> or <code>meta vol=I/X</code> limits the search to the first volume.
</p>
{% endblocktrans %}

{% blocktrans %}<p>
The <code>within</code> clause can be used to limit the search to the so called sections:
<code>front</code> (the frontmatter),
<code>intro</code> (the preface),
<code>info</code> (other informational matter)
<code>body</code> (the entries),
<code>errata</code> (corrections and additions),
<code>back</code> (backmatter).
</p>
{% endblocktrans %}
