{% load i18n %}

<div class='search-engine-info'>

<p>
{% blocktrans %}
The search engine, made available by
<a href='http://www.klf.uw.edu.pl/en/'>the Formal Linguistics Department</a> of the University of Warsaw,
facilitates searching digitalized texts in
<a href='http://en.wikipedia.org/wiki/DjVu'>the DjVu format</a>.
{% endblocktrans %}
{% blocktrans %}
The engine is a modification of the
<a href='http://poliqarp.sourceforge.net/'>Poliqarp system</a>
(developed in the
<a href='http://nlp.ipipan.waw.pl/'>Institute of Computer Science of Polish Academy of Sciences</a>)
used to support the
<a href='http://nkjp.pl/?lang=1'>National Corpus of Polish</a>,
so it has the same query syntax. 
The modification has been implemented by
<a href='http://jwilk.net/'>Jakub Wilk</a>, who also converted most of the texts to
a suitable format.
{% endblocktrans %}
{% blocktrans %}
The idea to use Poliqarp for DjVu texts was developed by
<a href='http://fleksem.klf.uw.edu.pl/~jsbien/'>Janusz S. Bień</a>.
It was presented in a paper entitled
<a href='http://bc.klf.uw.edu.pl/118/'>“Facilitating access to digitalized dictionaries”</a>
and later in other publications including
<a href='http://bc.klf.uw.edu.pl/177/'>“Efficient search in hidden text of large DjVu documents”</a>.
{% endblocktrans %}
{% blocktrans %}
The work on the search engine is supported by
the Ministry of Science and Higher Education's
<a href='https://bitbucket.org/jsbien/ndt'>grant no. N N519 384036</a>.
{% endblocktrans %}
</p>

</div>

{# vim:set ts=4 sw=4 et: #}
