{% load i18n %}

<div class='search-engine-info'>

<p>
{% blocktrans %}
This search engine facilitates searching so called Warsaw Dictionary of
Polish, available in the DjVu format in <a href='http://ebuw.uw.edu.pl/'>the
    digital library of the University of Warsaw</a>.
{%endblocktrans%}
{% blocktrans %}
As the engine is a modification of the <a
    href='http://poliqarp.sourceforge.net/'>Poliqarp system</a> (developed
in the <a href='http://nlp.ipipan.waw.pl/'>Institute of Computer Science of
    Polish Academy of Sciences</a>) used to support the <a
    href='http://nkjp.pl/?lang=1'>National Corpus of Polish</a>, it uses the
same query syntax.  The modification has been implemented by <a
    href='http://jwilk.net/'>Jakub Wilk</a>, who also converted the
dictionary to the suitable format.
{%endblocktrans%}
{% blocktrans %}
The idea to use Poliqarp for DjVu texts is due to
<a href='http://fleksem.klf.uw.edu.pl/~jsbien/'>Janusz S. Bień</a>,
who presented it in particular in the paper
<a href='http://bc.klf.uw.edu.pl/118/'>“Facilitating access to digitalized dictionaries”</a>.
{%endblocktrans%}
{% blocktrans %}
The work on the engine is supported by the grant number N N519 384036 of the
Ministry of Science and Higher Education.
{%endblocktrans%}
</p>

</div>

{# vim:set ts=4 sw=4 et: #}
