{% load i18n %}<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='{{LANGUAGE_CODE}}'>

<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>{% block title %}{% endblock %}</title>
    <meta name='robots' content='none,noarchive' />
    <link rel='stylesheet' href='{% url css "error.css" %}' type='text/css' />
</head>

<body>
  <div id='summary'>
      <h1>{% block summary %}{% endblock %}</h1>
  </div>
  <div id='info'>
      <p>{% block info %}{% endblock %}</p>
  </div>
</body>
</html>

{# vim:set ts=4 sw=4 et: #}
