{% load i18n %}

<p>

{% if qinfo.running %}
    {% blocktrans count qinfo.n_stored_results as n %}Found <span id='matches-so-far'>{{n}}</span> result so far{% plural %}Found <span id='matches-so-far'>{{n}}</span> results so far{% endblocktrans %}
{% else %}

    {% if qinfo.n_spotted_results %}
        {% blocktrans count qinfo.n_stored_results as n with qinfo.n_spotted_results as m %}<span id='matches'>{{n}}</span> results (of all <span id='all-matches'>{{m}}</span>){% plural %}<span id='matches'>{{n}}</span> results (of all <span id='all-matches'>{{m}}</span>){% endblocktrans %}
    {% else %}
        {% blocktrans count qinfo.n_stored_results as n %}Found <span id='matches'>{{n}}</span> result{% plural %}Found <span id='matches'>{{n}}</span> results{% endblocktrans %}
    {% endif %}
{% endif %}

</p>

<p>
    {% if qinfo.r %}
        {% blocktrans with qinfo.l as l and qinfo.r as r %}Displaying results {{l}}—{{r}}{% endblocktrans %}
    {% endif %}
</p>

{# vim:set ts=4 sw=4 et: #}
