{% load i18n %}

<p>

{% if qinfo.running %}
    {% blocktrans count qinfo.n_stored_results as n %}Found {{n}} result so far{% plural %}Found {{n}} results so far{% endblocktrans %}
{% else %}

    {% if qinfo.n_spotted_results %}
        {% blocktrans count qinfo.n_stored_results as n with qinfo.n_spotted_results as m %}{{n}} results (of all {{m}}){% plural %}{{n}} results (of all {{m}}){% endblocktrans %}
    {% else %}
        {% blocktrans count qinfo.n_stored_results as n %}Found {{n}} result{% plural %}Found {{n}} results{% endblocktrans %}
    {% endif %}
{% endif %}

</p>

<p>
    {% if qinfo.r %}
        {% blocktrans with qinfo.l as l and qinfo.r as r %}Displaying results {{l}}—{{r}}{% endblocktrans %}
    {% endif %}
</p>

{# vim:set ts=4 sw=4 et: #}
